* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.menu {
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    height: 20%;
    z-index: 999999;
}

ul {
    list-style-type: none;
    display: flex;
    min-width: 100%;
}

img {
    height: 150px;
}
.logo-img-wide{
    position: relative;
    left: 250px;
    height: 60%;
    top: 40px;
}
.normal-img{
    height: 60%;
}
.menu-img{
    position: relative;
    left: 25px;
    top: 40px;
}
h1 {
    font-size: 90px;
}

.login-main {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
    top: 50px;
    height: 50%;
}

.login-main:hover {
    color: rgb(125, 109, 80);
    text-decoration: underline;
}

.register-link:hover {
    color: aqua;
}

.register-link {
    color: black;
}

.register {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: baseline;
    margin: 80px;
    padding: 80px;
    gap: 100px;
}

.register-main {
    padding-left: 700px;
    padding-top: 100px;
}
.about-us-title{
    font-size: 50px;
}
.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    gap: 20px;
}

.about-us-text {
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
}

.nahled {
    font-size: 50px;
}

.členové {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.h2-členové {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size :50px;
}
h2{
    font-size: 40px;
}
.člen {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 5px;
}

.člen-text {
    padding-bottom: 10px;
    font-size: 20px;
}

.slogan {
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.nabidka {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.nastroj {
    height: 380px;
    width: 370px;
}

.nabidka-link {
    color: black;
    text-decoration: none;
}

.nabidka-link:hover {
    color: red;
    text-decoration: underline;
}

.nabidka-text {
    font-size: 20px;
    padding: 30px;
}

footer {
    color: rgb(0, 0, 0);
    background-color: rgb(234, 234, 234);
}

.nabidka-title {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ul-nabidka {
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: column;
    padding-bottom: 5px;
    position: relative;
}

.ul-nabidka li {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.li-border{
    border: 5px solid black;
    margin: 5px;
} 

.nabidka-img {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130%;
    object-fit: contain;
}


.objednat {
    width: 100px;
    position: relative;
    left: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacts{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 20px;   
}
.contacts-text{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 32px;  
}
.contacts-text2{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 32px; 
    padding-bottom: 10px; 
}

.ul-contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contacts-link{
  text-decoration: none;
  color: rgb(0, 0, 0);  
}
.contacts-link:hover{
  color: red;  
}
.contacts-title{
    font-size: 40px;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    left:550px ;
    position: relative;
}
.contacts-title2{
    font-size: 40px;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    left:700px ;
    position: relative;
}
.pozdrav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 35px;
    padding: 30px;
    border: solid black 5px;
    border-radius: 20%;
    left: 800px;
    max-width: 10%;
}
.info-text{
    font-size: 30px;
}
.nabidka-na-miru-link{
    text-decoration: none;
    color: black;
}
.nabidka-na-miru-link:hover{
    text-decoration: underline;
    color: rgb(255, 0, 0);
}
.nabidka-na-miru-title{
display: flex;
justify-content: center;
align-items: center;
position: relative;
font-size: 45px;
padding-top: 15px;
}
.nabidka-na-miru-text{
display: flex;
justify-content: center;
align-items: center;
position: relative;
font-size: 25px;
padding-left: 15px;
padding-right: 15px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 35px;
    padding: 10px;
}
.title-text{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 10px;
    font-size: 30px;
}
.nabidka-na-miru-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}