*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.menu{
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
ul{
    list-style-type: none;
}