* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.menu {
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    height: 20%;
    z-index: 999999;
    background: #ffffff;
background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(77, 73, 73, 1) 100%);
}
.podmenu{
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    height: 5%;
    z-index: 999999;
    font-size: 40px;
    gap: 20px;
    position: sticky;
    top: 130px;
    max-width: 98%;
    background: #ffffff;
background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(77, 73, 73, 1) 100%); 
}
.podmenu-link{
    text-decoration: none;
    color: black;
}
.podmenu-link :hover{
    text-decoration: underline;
    color: lightblue;
}
.podmenu-ul{
 display: flex;
justify-content: space-between;
      
}
ul {
    list-style-type: none;
    display: flex;
    min-width: 100%;
    position: relative;
    left: 30px;
}

img {
    height: 150px;
}
.logo-img-wide{
    position: relative;
    left: 250px;
    height: 60%;
    top: 35px;
}
.normal-img{
    height: 60%;
    position: relative;
    left: 25px;
    top: 35px;
}
h1 {
    font-size: 90px;
}
.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-main {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
    top: 50px;
    height: 50%;
}

.login-main:hover {
    color: rgb(125, 109, 80);
    text-decoration: underline;
}

.register-link:hover {
    color: rgb(102, 105, 63);
}

.register-link {
    color: black;
    text-decoration: none;
}

.register {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: baseline;
    align-items: center;
    margin: 80px;
    padding: 80px;
    gap: 100px;
    position: relative;
    left: 250px;
}

.register-main {
    padding-left: 650px;
    padding-top: 75px;
    padding-bottom: 140px ;
}
.about-us-title{
    font-size: 50px;
    position: relative;
    animation: mymove 5s
    
}
.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    gap: 20px;
}

.about-us-text {
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
    position: relative;
    animation: mymove 3s
}
@keyframes mymove{
    from {left: -5500px;}
    to {left: 0px}
}
.nahled {
    font-size: 50px;
}

.členové {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    position: relative;
    right: 110%;
}

.h2-členové {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size :50px;
}
h2{
    font-size: 40px;
}
.člen {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 5px;
}

.člen-text {
    padding-bottom: 10px;
    font-size: 20px;
}

.slogan {
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.nabidka {
    display: flex;
    flex-direction: row;
    object-fit: contain;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: relative;
    animation: mymove2 5s;
}
@keyframes mymove2{
   from {right: -5500px;}
    to {right: 0px}
}
.nastroj {
    height: 380px;
    width: 370px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: column;
}

.nabidka-link {
    color: black;
    text-decoration: none;
}

.nabidka-link:hover {
    color: red;
    text-decoration: underline;
}

.nabidka-text {
    font-size: 20px;
    padding: 30px;
}

.footer {
    color: rgb(0, 0, 0);
    background-color: gray;
    display: flex;
    min-width: 100%;
}

.nabidka-title {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 30px;
}

.ul-nabidka {
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: column;
    padding-bottom: 5px;
    position: relative;
    animation: mymove3 2.5s;
}
@keyframes mymove3{
   from {left: -5500px;}
    to {left: 0px}
}

.ul-nabidka li {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.li-border{
    border: 5px solid black;
    margin: 5px;
    border-radius: 10%;
    width: 85%;
} 
h3{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nabidka-img {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    position: relative;
    left: 25%;
}
.nabidka-img2{
    width: 45%;
    position: relative;
    left: 27%;
    height: 81%;
}

.objednat {
    width: 100px;
    position: relative;
    left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 5px;
}
.objednat2{
    width: 100px;
    position: relative;
    left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 15%;
}
.objednat3{
    position: relative;
    right:-30px ;
    padding: 1%;
}
.objednavka-link{
    color: black;
    text-decoration:none ;
}
.objednavka-link :visited{
    color: black;
    text-decoration: none;
}
.contacts{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 20px;   
}
.contacts-text{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 32px;  
}
.contacts-text2{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 32px; 
    padding-bottom: 10px; 
}

.ul-contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contacts-link{
  text-decoration: none;
  color: rgb(0, 0, 0);  
}
.contacts-link:hover{
  color: red;  
}
.contacts-title{
    font-size: 40px;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    position: relative;
    left: 50px;
}
.contacts-title2{
    font-size: 40px;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    position: relative;
    left: 30px;
}
.pozdrav{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    padding: 30px;
    margin: 20px;
    border: solid black 5px;
    border-radius: 20%;
    max-width: 10%;
    flex-direction: column;
    position: relative;
    left: 615px;
}
.info-text{
    font-size: 30px;
}
.nabidka-na-miru-link{
    text-decoration: none;
    color: black;
}
.nabidka-na-miru-link:hover{
    text-decoration: underline;
    color: rgb(255, 0, 0);
}
.nabidka-na-miru-title{
display: flex;
justify-content: center;
align-items: center;
position: relative;
font-size: 45px;
padding-top: 15px;
}
.nabidka-na-miru-text{
display: flex;
justify-content: center;
align-items: center;
position: relative;
font-size: 25px;
padding-left: 15px;
padding-right: 15px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 35px;
    padding: 10px;
}
.title-text{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 10px;
    font-size: 30px;
}
.nabidka-na-miru-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    animation: mymove4 2s;
}
@keyframes mymove4{
   from {bottom: -5500px;}
    to {bottom: 0px}
}
.contacts-us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top :30px;
    padding-left:15px ;
    padding-right: 15px;
    right: 40px;
    animation: mymove5 4s ;
}
@keyframes mymove5{
    from {left: -5500px;}
    to {left: 0px}
}
.meet-us{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    position: relative;
    right: 40px;
    animation: mymove6 5s;
}
@keyframes mymove6{
       from {right: -5500px;}
    to {right: 0px}
}
.ig-link{
text-decoration: none;
color: black;
font-size: 35px;
}
.fb-link{
text-decoration: none;
color: black;
font-size: 35px;
}
.social-media{
    height: 100px;
    width: 100px;
    padding: 20px;
}
input[type=text]:focus {
  background-color: lightblue;
  border: 3px solid #555;
}
input[type=number]:focus {
  background-color: lightblue;
  border: 3px solid #555;
}
input[type=password]:focus {
  background-color: lightblue;
  border: 3px solid #555;
}
input[type=e-mail]:focus {
  background-color: lightblue;
  border: 3px solid #555;
}
input[type=submit] {
margin-bottom:20px ;
}
 body, html{
        max-width: 105%;
    overflow-x: hidden;
}
.no-ucet{
display: flex;
justify-content: center;
align-items: center; 
font-size: 40px;

}
.registrace{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 60px;
    background-color: gold;
}
.prihlaseni{
   display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 60px; 
}
.logo-img-wide2{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 40%;
}
.menu2{
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999999;
}
.podmenu2{
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    height: 5%;
    z-index: 999999;
    font-size: 40px;
    gap: 20px;
    position: sticky;
    top: 105px;
    max-width: 98%; 
}
.aktivační-kód{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: relative;
    padding-top: 25%;
}
.register-button{
    margin-bottom: 95px;
}
@media only screen and (max-width:676px) {
    .menu{
        position: relative;
        min-width: 100vw;
        height: 15%;
    }
    .podmenu{
        position: relative;
        top: -30px;
    }
    .logo-img-wide{
        width:40% ;
        position: relative;
        left: 50px;
        top: -1px;
    }
    .login-main{
    position: relative;
    left: -130px;
    font-size: 35px;
    top: -1px;
    }
    .podmenu{
        font-size: 25px;
    }
    .slogan{
        position: relative;
        left: 15%;
    }
    .h2-členové{
    position: relative;
    left: 5px;
    }
    .členové{
        padding: 10px;
        font-size: 10px;
        left: -1%;
    }
    .nabidka-na-miru-text{
        font-size: 18px;
        padding: 20px;
    }
    .nabidka-na-miru-title{
        font-size: 30px;
    }
    .contacts{
    font-size: 30px;
    }
    .contacts-text{
        font-size: 20px;
    }
    .contacts-text2{
        font-size: 20px;
    }
    .člen-text{
        font-size: 15px;
    }
    .ul-nabidka{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .li-border{
        width: 50%;
        position: relative;
        left: -50px;
        height: 50%;
    }
    .nabidka-title{
        font-size:25px;
    }
    .pozdrav{
        position: relative;
        left: 230px;
    }
    .title{
        position: relative;
        left: 50px;
    }
    .title-text{
        position: relative;
        left: 20px;
    }
    .form{
    display: flex;
    flex-direction: column;
    margin: 40px;
    padding: 40px;
    position: relative;
    left: 0px;
    }
    .register-main{
        padding-top: 100px;
        padding-left: 200px;
    }

}
@media only screen and (max-width:1000px){
    .contacts-link{
        position: relative;
        bottom: 16px;
    }
    .logo-img-wide {
        position: relative;
        left: 0px;
    }
    .login-main{
        position: relative;
        right: 400px;
    }
    .ul-nabidka, li{
        row-gap: 3px;
        gap: 3px;
    }
    .li-border{
    margin: 15px;
    border-radius: 10%;
    width: 65%;
} 
    .nabidka-img {
        width: 140px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        position: relative;
        left: -5px;
        margin: 5px;
}
h3{
    padding: 4px;
}
.nabidka-title{
    font-size: 35px;
}
.pozdrav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 410px;

}
.form{
    position: relative;
    left: 0px;
}
.logo-img-wide2{
    position: relative;
    left: 20%;
}
  .register-main{
        padding-top: 100px;
        padding-left: 400px;
    }
.nabidka-na-miru-text{
    padding-left:5px;
    padding-right: 5px;
    font-size: 25px;
}
}